version: 2
jobs:
  build:
    parallelism: 1
    shell: /bin/bash --login
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    docker:
      - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo ${CIRCLE_BRANCH}
      # Prepare for artifact and test results collection - https://circleci.com/docs/2.0/artifacts/
      - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run: nvm install 12.13.1 && nvm alias default 12.13.1
      # Restore local dependencies from cache
      - restore_cache:
          keys:
          - v1-dep-{{ .Branch }}-
          - v1-dep-master-
          - v1-dep-
      - run: /bin/bash .circleci/set-configs.sh
      - run: if [ -z "${NODE_ENV:-}" ]; then export NODE_ENV=test; fi
      - run: npm install
       # Cache local dependencies if they don't exist
      - save_cache:
          key: v1-dep-{{ .Branch }}-{{ epoch }}
          paths:
          - ./node_modules
      - run: npm run test
      - run: npm run package
      - persist_to_workspace:
            root: ./
            paths:
              - package.zip
      - store_test_results:
          path: /tmp/circleci-test-results
      - store_artifacts:
          path: /tmp/circleci-artifacts
      - store_artifacts:
          path: /tmp/circleci-test-results
  deploy:
      docker:
        - image: circleci/python:3.7-stretch
      steps:
        - attach_workspace:
            at: ./
        - run:
            name: Install awscli
            command: sudo pip install awscli
        - run: aws lambda update-function-code --function-name create-cookbook --zip-file fileb://package.zip --region ${REGION}
        - run: aws lambda update-function-code --function-name delete-cookbook --zip-file fileb://package.zip --region ${REGION}
        - run: aws lambda update-function-code --function-name get-cookbooks --zip-file fileb://package.zip --region ${REGION}
        - run: aws lambda update-function-code --function-name get-recipes-by-cookbook --zip-file fileb://package.zip --region ${REGION}
        - run: aws lambda update-function-code --function-name get-recipes --zip-file fileb://package.zip --region ${REGION}

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - develop
                - /feature-.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: deploy
